.MainPreSale {
    display: flex;
    justify-content: "center";
    align-items: center;
}

.prelogodiv {
    display: flex;
    justify-content: center;
}

.prelogo {
    width: 20rem
}

.preHeading {
    color: white;
    text-align: center;
    font-family: "Fredoka One";
    font-weight: 500;
    font-size: 3rem;
}

.Ethdiv {
    border: solid 1px black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 10rem;
    text-align: center;
    font-family: "Fredoka One";
    font-weight: 300;
}

.leftdiv {
    border: solid 1px black;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    width: 10rem;
    text-align: center;
    font-family: "Fredoka One";
    font-weight: 400;
}

.btnMint1 {
    background-color: rgb(255, 150, 27);
    border-radius: 10rem;
    color: white;
    font-family: 'Fredoka One' !important;
    font-size: 1.9rem;
    width: 18rem;
    border: solid 1px rgb(255, 150, 27);
    margin-top: .5rem;
    text-decoration: underline rgb(85, 26, 139);
}

.btnMint2 {
    background-color: white;
    border-radius: 10rem;
    font-family: 'Fredoka One' !important;
    font-size: 1.9rem;
    width: 11rem;
    border: solid 1px white;
    margin-top: .5rem;
    margin-left: 1rem;
} 
@media(max-width: 600px){
    .btnMint1 {
        background-color: rgb(255, 150, 27);
        border-radius: 10rem; 
        color: white;
        font-family: 'Fredoka One' !important;
        font-size: 1.2rem;
        width: 10rem;
        border: solid 1px rgb(255, 150, 27);
        margin-top: .5rem;
        text-decoration: underline rgb(85, 26, 139);
    } 
    
    .btnMint2 {
        background-color: white;
        border-radius: 10rem;
        font-family: 'Fredoka One' !important;
        font-size: 1.2rem;
        width: 5rem;
        border: solid 1px white;
        margin-top: .5rem;
        margin-left: 1rem;
    } 
    .Ethdiv {
        border: solid 1px black;
        color: white;
        padding: .5rem;
        border-radius: 1rem;
        width: 6rem;
        text-align: center;
        font-family: "Fredoka One";
        font-weight: 200;
        
    }
    
    .leftdiv {
        border: solid 1px black;
        color: white;
        padding: .5rem;
        border-radius: 1rem;
        width: 6rem;
        text-align: center;
        font-family: "Fredoka One";
        font-weight: 200;
      
    }
    .prelogo {
        width: 14rem
    }
    .preHeading {
        color: white;
        text-align: center;
        font-family: "Fredoka One";
        font-weight: 500;
        font-size: 2.5rem;
    }
    .ethleftdiv{
        display: flex;
        justify-content: space-evenly;
        /* width: 10rem; */
        margin-top: 1rem
    }
    .EThheading{
        font-size: .9rem !important
    }
}
.ethleftdiv{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem
}
.EThheading{
    font-size: 1.5rem
}