.Maindivhomeone {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

}
.gif {
    width: 14rem;
    /* border-radius: 50rem; */
}
.col1 {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.mainheading {
    color: white;
    text-align: center;
}

.subheading {
    font-family: "Josefin Sans", cursive;
    text-align: center;
    line-height: 30px;
    color: rgb(241, 241, 241);
    font-size: 1.2rem;
    font-weight: 200;
    line-height: 1.5;
}

.btnMint {
    background-color: rgb(255, 150, 27);
    border-radius: 10rem;
    color: white;
    font-family: 'Fredoka One' !important;
    font-size: 1.9rem;
    width: 16rem;
    border: solid 1px rgb(255, 150, 27);
    margin-top: .5rem;
    text-decoration: underline rgb(85, 26, 139);
}
.btnMint.style {
    opacity: 1;
    transform: translate(0px, 0px);
}
@media (max-width: 500px) {
    .gif {
        width: 14rem;
    }
    .mainheading {
        color: white;
        text-align: center;
        font-size: 2.5rem;
    }
    .subheading {
        font-family: "Josefin Sans", cursive;
        text-align: center;
        line-height: 30px;
        color: rgb(241, 241, 241);
        font-size: .9rem;
        font-weight: 200;
        line-height: 1.5;
    }
    .btnMint {
        background-color: rgb(255, 150, 27);
        border-radius: 10rem;
        color: white;
        font-family: 'Fredoka One' !important;
        font-size: 1.5rem;
        width: 14rem;
        border: solid 1px rgb(255, 150, 27);
        margin-top: .5rem;
        text-decoration: underline rgb(85, 26, 139);
    }
}
.gif:hover { 
    transition: transform 250ms ease 0s;
    transform: rotate(-10deg);
}