.MainTeamdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Teamimg {
    width: 13rem;
}
.Teamimg:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
    }
 
.imgteam {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colum {
    flex-direction: column;
    text-align: center;
    color: white;
}
.Egheading{
    color: white;
    font-family: "Fredoka One";
    font-weight: 400;
}
.headingfive{
    font-family: "Josefin Sans",;
    color: white;
    font-weight: 500;
    margin-top: .7rem;
}
.teamheading{
    color: white;
    font-size: 3rem;
    font-family: "Fredoka One";
    text-align: center;
} 
@media (max-width: 500px) {

    .Teamimg 
    {
    width: 13.5rem;
}
.teamheading{
    color: white;
    font-size: 2.5rem;
    font-family: "Fredoka One";
    text-align: center;
} 
.smartheading{
    text-align: center;
    color: white;
    text-decoration: underline white;
    font-family: "Fredoka One";
    font-weight: "400";
    font-size: 1.5rem; 
}
}
.smartheading{
    text-align: center;
    color: white;
    text-decoration: underline white;
    font-family: "Fredoka One";
    font-weight: "400"
}