
.maincollectionOne{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 60px 0px  ;
}
.collectionOneimg{
    width: 16rem;
}
.imgcol1{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 500px) {
    .collectionOneimg{
        width: 14rem;
    }
}