.MaindivMetahome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif2 {
    width: 21rem;
}

.col11 {
    display: flex;
    justify-content: center; 
}

.mainmetaheading {
    color: white;
    text-align: start;
    font-size: 4.5rem;
    letter-spacing: 0.1rem;
    color: white;
    font-family: "Fredoka One"
}
@media(max-width: 500px){
    .mainmetaheading {
        color: white;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 0.1rem;
        color: white;
        font-family: "Fredoka One"
    }
    .gif2 {
        width: 14rem;
    }
    .submetaheading {
        font-family: "Josefin Sans", ;
        font-weight: 400;
        color: white;
        line-height: 2;
        font-size: .9rem;
    }
}
 
.submetaheading {
    font-family: "Josefin Sans", ;
    font-weight: 400;
    color: white;
    line-height: 1.8;
    font-size: 1rem;
}

.headingdiv {
    display: flex;
    justify-content: center;
}

.subheadingdiv {
    flex-direction: column;
    text-align: start;
}
.gif2:hover {
    transition: transform 250ms ease 0s;
    transform: rotate(-10deg);
} 