 .btnnav {
     display: flex;
     width: 50vw;
     justify-content: space-evenly;
     margin-top: -1.5rem;
 }

 .btn1 {
     background-color: white !important;
     width: 7.5rem !important;
     height: 2.5rem !important;
     font-weight: bold !important;
     font-family: 'Fredoka One' !important;
 }
 
 .btn2nav {
     display: flex;
     width: 30vw;
     justify-content: space-evenly;
     margin-top: -1.8rem;
 }

 @media (max-width: 1024px) {
     .btnnav {
         display: flex;
         width: 50vw;
         justify-content: space-evenly;
         margin-top: -1.5rem;
         display: none;
     }

     .btn2nav {
         display: flex;
         width: 100vw;
         justify-content: center;
         margin-top: -1.5rem;
     }

     .btn2 {
         background-color: white !important;
         height: 2.5rem !important;
         font-weight: bold !important;
         margin-right: 1.2rem !important;
         font-family: 'Fredoka One' !important;
     }

     .btn3 {
         background-color: white !important;
         /* height: 2.5rem !important; */
         font-weight: bold !important;
         margin-left: .7rem !important;
     }
 }

 .btn2 {
     background-color: white !important;
     height: 2.5rem !important;
     font-weight: bold !important;
     font-family: 'Fredoka One' !important;
 }

 @media(max-width: 500px) {
     .btn2 {
         background-color: white !important;
         height: 2.5rem !important;
         font-weight: bold !important;
         font-family: 'Fredoka One' !important;
         font-size: 12px !important;
         line-height: 1 !important;

     }
     .logo {
        width: .2rem;
    }
    .twlogo{
        font-size: 1.4rem !important
    }
 }

 .btn3 {
     background-color: white !important;
     height: 2.5rem !important;
     font-weight: bold !important;
 }

 .logo {
     width: 1.5rem;
 }
 .twlogo{
     font-size: 2rem
 }
.btn1:hover {
    content: " " !important;
    display: block !important;
    inset: 0px !important;
    border-radius: 0.2rem !important;
    font-weight: 600 !important;
    background-color: rgb(255, 150, 27) !important;
    
  }
  .btn2:hover {
    content: " " !important;
    display: block !important;
    inset: 0px !important;
    border-radius: 0.2rem !important;
    font-weight: 600 !important;
    background-color: rgb(255, 150, 27) !important;
    
  }
  .btn3:hover {
    content: " " !important;
    display: block !important;
    inset: 0px !important;
    border-radius: 0.2rem !important;
    font-weight: 600 !important;
    background-color: rgb(255, 150, 27) !important;
    
  }
 

