.maincollection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;

}

.collectionimg {
    width: 16rem;
}

.imgcol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collectionheading {
    text-align: center;
    color: white;
    font-family: 'Fredoka One' !important;
    font-size: 4.5rem;
}

@media (max-width: 500px) {

    .collectionheading {
        text-align: center;
        color: white;
        font-family: 'Fredoka One' !important;
        font-size: 2.5rem;
    }

    .collectionimg {
        width: 14rem;
    }
}